.container {
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.container-content {
    width: 100%;
    max-width: 1080px;
}

@media only screen and (max-width: 1064px) {
    .container {
        padding:0px 15px;

    }
}