.home {
  padding-top: 100px;
}
.home .banner {
  height: 550px;
  overflow: hidden;
}
.home .banner .slick-slide img {
  height: 550px !important;
}

.home .intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;
}

.home .intro .content {
  width: 500px;
}
.home .intro .list-content {
  list-style: none;
  padding: 0;
  margin: 0;

  font-size: 14px;
  margin-right: 20px;
}
.home .intro .right-img {
  width: 720px;
}
.home .intro .list-content li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 30px;
}
.home .intro .list-content li .icon {
  margin-right: 10px;
  width: 23px;
}
.home .intro .title {
  font-size: 30px;
  font-weight: 600;
  color: red;
}
.home .box-intro {
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.home .box-intro img{
  width: 100%;
}
.home .box-intro .content {
}
.home .box-intro .list-content {
  list-style: none;
  padding: 0;
  margin: 0;

  font-size: 14px;
  margin-right: 20px;
}
.home .box-intro .right-img {
  width: 720px;
}
.home .box-intro .list-content li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 30px;
}
.home .box-intro .list-content li h1 {
  color: red;
  margin: 0 auto;
}
.home .box-intro .list-content li.main-text {
  padding: 20px;
  font-weight: 600;
  background-color: rgb(234, 242, 255);
  font-size: 16px;
}

.home .box-intro .list-content li .icon {
  margin-right: 10px;
  width: 23px;
}

.home .box-intro .content-title {
  font-size: 30px;
  font-weight: 600;
  background-color: #4b8fe2;
  color: yellow;
  padding: 20px 30px;
  width: 45%;
  margin: 0 auto;
}

.home .advantages {
}
.home .advantages .advantages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.home .advantages .advantages-grid .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home .advantages .advantages-grid .item svg {
  font-size: 100px;
  color: #009fe0;
}
.home .advantages .advantages-grid .title {
  font-size: 25px;
  font-weight: 600;
  color: #8a7581;
}
.home .advantages .advantages-grid .subtitle {
  color: #8e8e8e;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  line-height: 21px;
}

.home .advantages-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home .advantages-flex .part {
  flex: 1;
}
.home .advantages-flex .part.left {
  margin-right: 20px;
}
.home .advantages-flex .part.right {
  margin-left: 20px;
}
.home .advantages-flex .part .item {
  display: flex;
  flex-direction: column;
  background-color: rgb(76, 144, 226);
  color: white;
  border-bottom: 2px solid rgb(245, 37, 37);
  padding: 20px;
  margin-top: 20px;
  height: 50px;
}
.home .advantages-flex .middle {
  width: 40%;
}

.home .choice {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}
.home .choice .choice-image {
  width: 100%;
}
.home .choice .choice-image img {
  width: 100%;
}
.home .choice .btn-register {
  width: 200px;
  padding: 20px 0px;
  font-size: 18px;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  background-color: #89b837;
  margin-top: 20px;
}

.home .customers {
  background-color: #4b8fe2;
  padding: 50px 0px;
}
.home .customers .customers-list {
}
.home .customers .customers-list .item {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.home .customers .customers-list .item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.home .customers .customers-list .item .item-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-style: italic;
  margin-left: 20px;
}
.home .customers .customers-list .item .item-right .rating svg {
  color: #d26e4b;
}
.home .customers .customers-list .item .item-right .name {
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 600;
}
.home .footer {
  background-color: #3cbe00;
  padding: 50px 0px;
  color: white;
}
.home .footer .title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  display: block;
}
.home .footer .hotline {
  font-size: 22px;
  font-weight: 600;
  color: red;
  text-align: center;
  display: block;
  width: 100%;
  margin: 15px 0px;
}
.home .footer .location {
  display: flex;
  flex-direction: row;
}
.home .footer .location .left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.home .footer .location .right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.home .footer .location .subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.home .footer .location .item {
  margin-top: 15px;
}
@media only screen and (max-width: 1064px) {
  .home {
    padding-top: 55px;
  }
  .home .intro {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
  }
  .home .intro .content {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
  .home .box-intro .content-title {
    font-size: 25px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .home .intro .right-img {
    
    display: none;
  }
  .home .intro .list-content {
    margin-right: 0px;
  }
  .home .box-intro .list-content {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .home{
    font-size: 12px;
  }
  .home .advantages .advantages-grid{
    grid-template-columns: 1fr;
  }
  .home .intro .title {
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .home .box-intro .content {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
    font-size: 12px;
  }
  .home .intro .list-content li, .home .box-intro .list-content li{
    font-size: 12px;
  }
  .home .banner {
    height: auto;
    overflow: hidden;
  }
  .home .banner .slick-slide img {
    height: auto !important;
  }
  
  .home .box-intro {
    width: 95%;
  }
  .home .advantages-flex {
    display: block;
  }
  .home .advantages-flex .part.right {
    margin-left: 0;
    margin-top: 30px;
  }
  .home .advantages-flex .part.left {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .home .advantages-flex .middle {
    width: 100%;
  }
  .home .footer .location{
    display: block ;
  }
  .home .footer .location .subtitle {
    margin-top: 30px;
  }
  .home .box-intro .content-title{
    font-size: 20px;
  }
  .home .box-intro .list-content li.main-text{
    font-size: 13px;
  }
  .home .box-intro .list-content li h1{
    font-size: 20px;
  }
  .home .advantages .advantages-grid .item svg{
    font-size: 50px;
  }
  .home .advantages .advantages-grid .title{
    font-size: 16px;
  }
  .home .advantages .advantages-grid .subtitle{
    font-size: 13px;
  }
  .home .choice .btn-register{
    font-size: 10px;
    padding: 10px 0;
    width: 110px;
  }
  .home .footer .title{
    font-size: 18px;
  }
  .home .footer .hotline{
    font-size: 17px;
  }
  .home .footer .location .subtitle{
    font-size: 15px;
  }
  .home .customers .customers-list .item .item-right .name{
    font-size: 15px;
  }
  .home .customers .customers-list .item img{
    width: 80px;
    height: 80px;
  }
  .home .customers .customers-list .item .item-right{

  }
}