.header-container {
    background-color: #4B8FE2;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}
.header-container .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
.header-container .header img {
    width:200px;
}
.header-container .header a {
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    margin-left: 40px;
}
.hamburger {
    position: absolute;
    top:50%;
    left:15px;
    transform: translateY(-50%);
    font-size: 50px;
    display: none;
}
.menu {
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    
}
.menu a {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    margin-top: 20px;
}

@media only screen and (max-width: 1064px) {
    .header-container .header a {
        display: none;
    }

    .header-container .header {
        align-items: center;
        justify-content: center;
    }
    .header-container .header img {
        width: 100px;
    }
    .hamburger {
        display: block;
    }
}
