.phone-call {
  position: fixed;
  margin: 0 auto;
  bottom: 30px;
  left: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 28px;
}
.phone-call .call-animation {
  background: #2cdb5b;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 100%;
  border: solid 5px #2cdb5b;
  animation: play 2s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.phone-call .phone {
  color: #2cdb5b;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 600px;
  padding-right: 20px;
}
.phone-call .MuiSvgIcon-root {
  font-size: 35px;
}
@keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 5px rgba(44, 212, 32, 0.4);
  }
  25% {
    box-shadow: 0 0 0 10px rgba(44, 212, 32, 0.4),
      0 0 0 20px rgba(44, 212, 32, 0.2);
  }
  25% {
    box-shadow: 0 0 0 15px rgba(44, 212, 32, 0.4),
      0 0 0 30px rgba(44, 212, 32, 0.2);
  }
}
@media only screen and (max-width: 1064px) {
  .phone-call{
    bottom: 10px;
  }
}
